.headertext{
  margin-left: 10px;
  color: #ffd800;
  text-decoration: none;
}
.header{
  background-color: #355C7D;
  margin: auto;

}
.mat-grid-tile-header{
  justify-content: center;
  display: flex;
}
.picture {
  height: 60px;
  width: auto;
}
