.description{
  font-size: medium;
  color: black;
  background-color: grey;
  margin: 10px;
}

.bottext{
  font-size: medium;
  color: black;
  background-color: lightgrey;
  margin: 10px;
  opacity:0;
  transition: 1s;
  animation: show 3s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.bot{
  display: inline-block;
  margin-right: 120px;
  width: 70px;
  text-align: center;

}
.param{
  display: inline-block;
  margin-right: 120px;
  width: 70px;
  text-align: center;
}
.kick{
  background-color: indianred;
}
#empty{
  height: 65px;
}
@keyframes show{
  0%{
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
