<mat-card class="description">
  <div class="param">Bot Id</div>
  <div class="param">Operat.system</div>
  <div class="param">Address</div>
  <div class="param">Ping</div>
  <div class="param">Com.exec.status</div>
  <div class="param">Status</div>
</mat-card>
<div *ngIf="dataService.data">
<mat-card class = "bottext" *ngFor="let bot of dataService.data?.bots" >
      <mat-card-content>
        <div class="bot">{{bot.id}}</div> <div class="bot">{{bot?.OperationSystem}}</div>
        <div class="bot">{{bot?.address}}</div>
        <div class="bot">{{bot?.ping}}</div>
        <div class="bot">{{bot?.CommandExecStatus}}</div>
        <div class="bot textcolor" *ngIf="bot?.status == 'online'">{{ bot?.status}}
          <style type="text/css">
            .textcolor{
              color: green;
              margin-right: 100px;
            }
          </style>
        </div>
        <div class="bot texcolor" *ngIf="bot?.status == 'offline'">{{ bot?.status}}
          <style type="text/css">
            .texcolor{
              color: red;
              margin-right: 100px;
            }
          </style>
        </div>
        <button mat-raised-button class="kick" (click)="deleteBot(bot)">Kick bot</button>
      </mat-card-content>
</mat-card>
</div>

<div id="empty">&nbsp;</div>


