.footer{
  background-color: darkseagreen;
  justify-content: space-around;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 65;

}
.kick{
  background-color: indianred;
}
.run{
  background-color: lightgreen;
}
.btn{
  background-color: lightgray;
}
#empty{
  height: 65px;
}
